* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $gray;
  font-family: $primary-font;
  line-height: 1.6;
  background: $white;
  font-size: 1rem;

  @include media-query {
    font-size: 1.125rem;
  }
}

img {
  max-width: 100%;
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 2rem;

  @include media-query {
    font-size: 4.2rem;
  }
}

h2 {
  @include sans-serif($font-size: 1.5rem);

  @include media-query {
    font-size: 2rem;
  }
}
